<?php

/** @var \Mageplaza\Affiliate\Block\Account\Dashboard\Info $block */
?>
<div class="block block-dashboard-info">
    <div class="block-title"><strong>Affiliate Infomation</strong></div>
    <div id="data">
        <div class="block-content">
            <div class="box box-information">
                <strong class="box-title">
                    <span>Balance</span>
                </strong>
                <div class="box-content">
                    <p>
                        <?php echo $block->getBalance();
                         ?>
                    </p>
                </div>
            </div>
                <div class="box box-newsletter">
                    <strong class="box-title">
                        <span>Refer Link</span>
                    </strong>
                    <div class="box-content">
                        <p>
                            <?php echo $block->getBaseUrl() . "affiliate/refer/index/" . $block->getKey() . "/" . $block->getCode();
                            ?>
                        </p>
                    </div>
                </div>
        </div>
        <div class="block-title"></div>
        <div class="block block-dashboard-addresses">
            <div class="block-title">
                <strong><?= $block->escapeHtml(__('History')) ?></strong>
            </div>
            <div class="block-content">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Commission</th>
                        <th scope="col">Status</th>
                        <th scope="col">Created At</th>
                    </tr>
                    </thead>
                    <tbody>

                    <?php foreach($block->getHistory() as $value): ?>
                        <tr>
                            <td><?=$block->getTitle($value['is_admin_change'],$value['order_increment_id']);?></td>
                            <td><?=$block->formatPrice($value['amount']);?></td>
                            <td><?=$block->getStatus($value['status']);?></td>
                            <td><?=date_format(date_create($value['created_at']),"Y/m/d");?></td>
                        </tr>
                    <?php endforeach;?>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <div id="block">
        <?php
        echo $this->getLayout()
            ->createBlock('Magento\Cms\Block\Block')
            ->setBlockId($block->getBlock())
            ->toHtml();
        ?>
        <div class="box-content">
                <button class="action subscribe primary" title="Subscribe" type="submit" aria-label="Subscribe">
                    <a class="primary action" href="<?= $block->getCustomLink() ?>"><?= __('Register') ?></a>
                </button>
        </div>
    </div>
    <script>
        var phpVar = '<?php echo $block->checkBlock(); ?>';
        if (phpVar == 0) {
            document.getElementById("data").style.display = 'none';
            document.getElementById("block").style.display = 'block';

        }else {
            document.getElementById("data").style.display = 'block';
            document.getElementById("block").style.display = 'none';

        }
    </script>
</div>
