<!-- ko if: isDisplayedAffiliatediscount() -->
<tr class="totals affiliatediscount excl">
    <th class="mark" colspan="1" scope="row" data-bind="text: affiliate_discount"></th>
    <td class="amount">
        <span class="price" data-bind="text: getAffiliateDiscount(), attr: {'data-th': affiliate_discount}"></span>
    </td>
</tr>
<!-- /ko -->
